<div class="col-md-3">
  <div class="content-wrapper">

    <!-- Channel -->
    <a ng-show="channelsVariable" ng-class="{ channel: channelsVariable }" 
    href="#/categories/content/{{contentObject.name.toLowerCase();}}">
	    <img class="content-img" ng-class="{ channelImg: channelsVariable }" src="{{contentObject.image}}">
	  </a>
	  <img class="content-img" ng-hide="channelsVariable" src="{{contentObject.image}}">
    
    <!-- Categories -->
    <a ng-show="categoriesVariable" href="#/categories/content/{{contentObject.name.toLowerCase();}}" ng-click="getEpisodesFunction({episode: contentObject.name})" class="content-name">{{contentObject.name}}</a> 

    <!--  Choice   -->     
    <a ng-show="choiceVariable" href="#/categories/content/{{choiceVariable}}/episodes/{{contentObject.name.toLowerCase();}}" class="content-name">{{contentObject.name}}</a>   

    <!--  Episode   -->     
    <a ng-show="episodeVariable" href="#/categories/content/{{choiceVariable}}/episodes/{{contentObject.name.toLowerCase();}}" class="content-name">Welcome to episodes</a>  


  </div>
</div>