<div class="col-md-3">
  <div class="content-wrapper">
    <a ng-show="channelsVariable" ng-class="{ channel: channelsVariable }" href="#/categories/content/{{contentObject.name.toLowerCase();}}">
	    <img class="content-img" ng-class="{ channelImg: channelsVariable }" src="{{contentObject.image}}">
	  </a>
	  <img class="content-img" ng-hide="channelsVariable" src="{{contentObject.image}}">
    <a ng-hide="channelsVariable" href="#/categories/content/{{contentObject.name.toLowerCase();}}" class="content-name">{{contentObject.name}}</a>  	  	
  </div>
</div>