<div class="col-md-3">
  <div class="content-wrapper">

    <!-- Channel -->
    <a ng-show="channelsVariable" ng-class="{ channel: channelsVariable }" 
    href="#/categories/content/{{contentObject.name.toLowerCase();}}">
	    <img class="content-img" ng-class="{ channelImg: channelsVariable }" src="{{contentObject.image}}">
	  </a>
	  <img class="content-img" ng-hide="channelsVariable || episodeVariable" src="{{contentObject.image}}">
    
    <!-- Categories -->
    <a ng-show="categoriesVariable" href="#/categories/content/{{contentObject.name.toLowerCase();}}" ng-click="getEpisodesFunction({episode: contentObject.name})" class="content-name">{{contentObject.name}}</a> 

    <!--  Choice   -->     
    <a ng-show="choiceVariable" href="#/categories/content/{{choiceVariable}}/episodes/{{contentObject.name.toLowerCase();}}" class="content-name">{{contentObject.name}}</a>   

    <!--  Episode   -->  
    <div ng-show="episodeVariable">
      <img class="content-img" src="{{contentObject.image}}">
	    <a  href="#" class="content-name">{{contentObject.name}}</a>  
	    <!-- <div class="video-wrapper">
	      <iframe src="https://player.vimeo.com/video/50872925" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p>Watching Something</p>
	    </div> -->
		</div>   

  </div>
</div>